{% extends "base.html" %}
{% load static %}
{% block content %}
<body>
    <div class="page-heading">
        <div class="banner-heading">
            <img src="{% static 'img/view.png' %}" alt="" class="img-reponsive">
            <div class="heading-content text-center">
                <div class="container container-42">
                    <h1 class="page-title white">Shop</h1>
                    <ul class="breadcrumb white">
                        <li><a href="{% url 'index' %}">home</a></li>
                        <!-- <li><a href="">Shop All Products</a></li> -->
                    </ul>
                </div>
            </div>
        </div>
       
    </div>
    <div class="wrap-filter">
        <div class="wrap-filter-box wrap-filter-number">
            <ul class="pagination">
                <li class="active"><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
            </ul>
            <span class="total-count">Showing 1-12 of 30 products</span>
        </div>
        <div class="wrap-filter-box text-center view-mode">
            <a class="col" href="#" onClick="return false;"><span class="icon-grid-img"></span></a>
        </div>
        <div class="wrap-filter-box text-center js-filter"><a href="#" onClick="return false;" class="filter-title"><i class="icon-equalizer"></i></a>
            <form action="#" method="get" class="form-filter-product js-filter-open">
                <span class="close-left js-close"><i class="icon-close f-20"></i></span>
                <div class="product-filter-wrapper">
                    <div class="product-filter-inner text-left">
                        <div class="product-filter">
                            <div class="form-group">
                                <span class="title-filter">Category</span>
                                <button class="dropdown-toggle form-control" type="button" data-toggle="dropdown">Select a category
                                </button>
                                <ul class="dropdown-menu">
                                    <li>Select a category</li>
                                    <li>Backpacks</li>
                                    <li>Decoration</li>
                                    <li>Essentials</li>
                                    <li>Interior</li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-filter">
                            <div class="form-group">
                                <span class="title-filter">Color</span>
                                <button class="dropdown-toggle form-control" type="button" data-toggle="dropdown">Choose color
                                </button>
                                <ul class="dropdown-menu">
                                    <li>Choose color</li>
                                    <li>Red</li>
                                    <li>Blue</li>
                                    <li>Gray</li>
                                    <li>White</li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-filter">
                            <div class="form-group">
                                <span class="title-filter">Size</span>
                                <button class="dropdown-toggle form-control" type="button" data-toggle="dropdown">Choose size
                                </button>
                                <ul class="dropdown-menu">
                                    <li>Choose size</li>
                                    <li>S</li>
                                    <li>M</li>
                                    <li>L</li>
                                    <li>XL</li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-filter">
                            <div class="form-group">
                                <span class="title-filter">Price</span>
                                <div class="filter-content">
                                    <div class="price-range-holder">
                                        <input type="text" class="price-slider" value="">
                                    </div>
                                    <span class="min-max">
                                    Price: $30 — $3450
                                </span>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="product-filter-button-group clearfix">
                        <div class="product-filter-button">
                            <a href="" class="btn-submit">Fillter </a>
                        </div>
                        <div class="product-filter-button">
                            <a href="" class="btn-submit">Clear </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="wrap-filter-box text-center view-mode">
            <a class="list" href="#" onClick="return false;"><span class="icon-list-img"></span></a>
        </div>
        <div class="wrap-filter-box wrap-filter-sorting">
            <button class="dropdown-toggle" type="button" data-toggle="dropdown" id="menu2">Sort by newness
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu2">
                <li><a href="#" title="">Sort by newness</a></li>
                <li><a href="#" title="">Best Selling</a></li>
                <li><a href="#" title="">Best Selling</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="container container-42 shop-sidebar">
        <div class="row">
            <div class="col-md-3 col-sm-3 collection-sidebar">
                <div class="product-standard filter-product">
                    <div class="filter filter-price">
                        <h3 class="filtertitle">
                            By price.
                        </h3>
                        <div class="filter-content">
                            <div class="price-range-holder">
                                <input type="text" class="price-slider" value="">
                            </div>
                            <span class="min-max">
                                Price: $30 — $3450
                            </span>
                            <span class="filter-title">
                                
                            </span>
                        </div>
                    </div>
                    <div class="filter filter-category">
                        <h3 class="filtertitle">
                            Categories.
                        </h3>
                        <ul class="filter-content js-filter-menu">
                            <li><a href="">Outerwear</a></li>
                            <li><a href="">Dresses</a>
                                <span class="plus js-plus-icon"></span>
                                <ul class="filter-menu">
                                    <li class=""><a href="#">Drop menu 1</a></li>
                                    <li class=""><a href="#">Drop menu 2</a></li>
                                    <li class=""><a href="#">Drop menu 3</a></li>
                                </ul>
                            </li>
                            <li><a href="">Gadgets</a></li>
                            <li><a href="">Hoodies</a>
                                <span class="plus js-plus-icon"></span>
                                <ul class="filter-menu">
                                    <li class=""><a href="#">Drop menu 1</a></li>
                                    <li class=""><a href="#">Drop menu 2</a></li>
                                    <li class=""><a href="#">Drop menu 3</a></li>
                                </ul>
                            </li>
                            <li><a href="">Men</a></li>
                            <li><a href="">Shirts & Blouses</a>
                                <span class="plus js-plus-icon"></span>
                                <ul class="filter-menu">
                                    <li class=""><a href="#">Drop menu 1</a></li>
                                    <li class=""><a href="#">Drop menu 2</a></li>
                                    <li class=""><a href="#">Drop menu 3</a></li>
                                </ul>
                            </li>
                            <li><a href="">Shoes</a></li>
                        </ul>
                    </div>
                    <div class="filter filter-color">
                        <h3 class="filtertitle">
                           By color. 
                        </h3>
                        <ul class="filter-content">
                            <li><a href="">Grey</a></li>
                            <li><a href="">Metallic</a></li>
                            <li><a href="">Multicolour Nude</a></li>
                            <li><a href="">Pink</a></li>
                            <li><a href="">Purple</a></li>
                            <li><a href="">Red White</a></li>
                        </ul>
                    </div>
                    <div class="filter filter-size">
                        <h3 class="filtertitle">
                            By size
                        </h3>
                        <div class="filter-content">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Choose any size...
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">XXL</a></li>
                                    <li><a href="#">XL</a></li>
                                    <li><a href="#">L</a></li>
                                    <li><a href="#">M</a></li>
                                    <li><a href="#">S</a></li>
                                    <li><a href="#">xS</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-9 col-sm-9 collection-list">
                <div class="product-standard product-grid product-list">
                    <div class="tab-content">
                        <div id="all" class="tab-pane fade in active">
                            <div class="row">
                                {% for p in products %}
                                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 product-item">
                                    <div class="product-images">
                                        <a href="{% url 'prod-detail' p.pid %}" class="hover-images effect"><img src="{{ p.image.url }}" alt="photo" class="img-reponsive"></a>
                                        <a href="#" class="btn-add-wishlist ver2"><i class="icon-heart"></i></a>
                                        <a href="#" class="btn-quickview">QUICK VIEW</a>
                                    </div>
                                    <div class="product-info-ver2">
                                        <a href="{% url 'category-product-list' p.category.cid %}">{{ p.category.title }}</p>                                                
                                        <h3 class="product-title"><a href="{% url 'prod-detail' p.pid %}">{{ p.title }}</a></h3>
                                        
                                        <div class="rating-star">
                                            <span class="star star-5"></span>
                                            <span class="star star-4"></span>
                                            <span class="star star-3"></span>
                                            <span class="star star-2"></span>
                                            <span class="star star-1"></span>
                                        </div>
                                        <p class="product-desc">{{ p.description }} </p>
                                        <p class="product-desc">Made By {{ p.vendor.title }} </p>
                                        <div class="product-price">{{ p.price }}$</div>
                                        <div class="product-price"><strike>{{ p.old_price }}$</strike></div>
                                        <div class="button-group">
                                            <a href="#" class="button add-to-cart">Add to cart</a>
                                            <a href="#" class="button add-to-wishlist">Add to wishlist</a>
                                            <a href="#" class="button add-view">Quick view</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="pagination-container pagination-blog button-v v2">
                                <nav>
                                    <ul class="pagination">
                                        <li><a class="active" href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li>
                                        <a href="#" aria-label="Previous">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container container-42">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <div class="menu-footer">
                        <ul>
                            <li><a href="#">Shipping</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <div class="newletter-form">
                        <h3 class="footer-title text-center">Newsletter</h3>
                        <form action="#">
                            <input type="text" name="s" placeholder="Email Adress..." class="form-control">
                            <button type="submit" class="btn btn-submit">
                                <i class="fa fa-angle-right"></i>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    <div class="social">
                        <a href="#" title="twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#" title="facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#" title="google plus">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <a href="#" title="Pinterest">
                            <i class="fa fa-pinterest-p"></i>
                        </a>
                        <a href="#" title="rss">
                            <i class="fa fa-rss"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <a href="#" class="scroll_top">SCROLL TO TOP<span></span></a>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-slider.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

{% endblock content %}